.home {
  min-height: 100vh;

  .widgets,
  .featured {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
  }

  .featured {
    justify-content: space-between;
  }

  &.dark {
    color: #999999;
  }
}
