.revenue {
  flex: 1;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;

    .bar {
      width: 100px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    div {
      p {
        color: #999999;
        font-weight: bold;
      }

      span {
        display: flex;
        align-items: center;

        &.positive {
          color: green;
        }

        &.negative {
          color: red;
        }
      }
    }
  }

  &.dark {
    color: #999999;
  }
}
