.users {
  padding: 1.25rem;

  th {
    font-weight: bold;
  }

  .product-wrapper {
    display: flex;
    gap: 0.5rem;

    img {
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 5px;
    }
  }

  .pending {
    color: blue;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 0.2rem 0.3rem;
  }

  .approved {
    color: green;
    background-color: rgba(0, 255, 0, 0.3);
    padding: 0.2rem 0.3rem;
  }

  &.dark {
    background-color: #444444;
    color: #999999;

    td,
    th {
      color: #aaaaaa;
    }

    .pending {
      color: rgb(102, 102, 255);
      background-color: transparent;
      padding: 0.2rem 0.3rem;
    }

    .approved {
      color: rgb(3, 184, 3);
      background-color: transparent;
      padding: 0.2rem 0.3rem;
    }
  }
}
