.users {
  padding: 1.25rem;

  .product-wrapper {
    display: flex;
    gap: 0.5rem;

    img {
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 5px;
    }
  }

  .pending {
    color: blue;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 0.2rem 0.3rem;
  }

  .approved {
    color: green;
    background-color: rgba(0, 255, 0, 0.3);
    padding: 0.2rem 0.3rem;
  }
}
