.navbar {
  height: 50px;
  border-bottom: 3px solid rgb(214, 214, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  .search {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;

    input {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 0.8rem;

      &::placeholder {
        font-size: 1rem;
        color: #000000;
      }
    }
    .icon {
      cursor: pointer;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 1rem;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      .counter {
        width: 15px;
        height: 15px;
        background-color: rgb(216, 56, 56);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        right: 0;
      }

      .avatar {
        width: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid #6439ff;
      }
    }
  }

  &.dark {
    color: #aaaaaa;

    .search {
      input,
      input::placeholder {
        color: #aaaaaa;
      }
    }
  }
}
