.sidebar {
  flex: 1;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);

  .logo-wrapper {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      font-weight: 700;
      font-size: 1.2rem;
      color: #6439ff;
    }
  }
  hr {
    border: 0.5px solid rgb(214, 214, 214);
  }

  .nav {
    ul {
      padding: 0.8rem;

      .title {
        font-size: 0.8rem;
        color: #999999;
        margin-top: 0.8rem;
      }

      li {
        list-style: none;

        a {
          color: black;
          text-decoration: none;
          padding: 6px 1rem;
          display: flex;
          gap: 4px;
          align-items: center;
          cursor: pointer;
        }
        a:hover,
        a:focus,
        a:active,
        a.active {
          color: #6439ff;
        }
      }
    }
  }

  .theme {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    padding: 0.8rem;
    background-color: rgb(248, 248, 248);

    .buttons {
      display: flex;
      gap: 0.6rem;
      margin-top: 0.5rem;
      margin-left: 0.8rem;

      .btn {
        outline: none;
        width: 30px;
        height: 30px;
        border: 1px solid #c7c4c4;
        border-radius: 4px;
        cursor: pointer;
      }
      .light {
        background-color: #ffffff;
      }

      .dark {
        background-color: #000000;
      }
    }
  }

  &.dark {
    color: #999999;
    background-color: #444444;

    .theme {
      background-color: #444444;
    }
  }
}
