.users {
  height: 85vh;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      border: 1px solid rgb(0, 128, 128);
      color: rgb(0, 128, 128);
      background-color: rgba(0, 128, 128, 0.3);
      padding: 0.2rem 0.3rem;
      border-radius: 4px;
    }
  }

  .user {
    display: flex;
    gap: 1rem;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 5px;
    }
  }

  .status {
    text-transform: capitalize;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;

    &.pending {
      color: rgb(190, 162, 33);
      background-color: rgba(238, 202, 44, 0.3);
    }
    &.active {
      color: rgb(50, 204, 36);
      background-color: rgba(60, 238, 44, 0.3);
    }
    &.passive {
      color: rgb(238, 60, 44);
      background-color: rgba(238, 60, 44, 0.3);
    }
  }

  .btnGroup {
    display: flex;
    gap: 1rem;

    a,
    button {
      text-decoration: none;
      padding: 0.2rem 0.3rem;
      border-radius: 5px;
      outline: none;
      border: none;
      cursor: pointer;

      &.view {
        color: darkblue;
        background-color: rgba(0, 0, 255, 0.3);
      }
      &.delete {
        color: crimson;
        background-color: rgba(255, 0, 0, 0.3);
      }
    }
  }

  &.dark {
    color: #999999;

    div {
      color: #999999;
      border: none;
    }

    .title {
      a {
        background-color: transparent;
      }
    }

    .status {
      &.pending {
        color: rgb(238, 207, 67);
        background-color: transparent;
      }
      &.active {
        color: rgb(84, 240, 70);
        background-color: transparent;
      }
      &.passive {
        color: rgb(255, 108, 95);
        background-color: transparent;
      }
    }
    .btnGroup {
      a,
      button {
        &.view {
          color: rgb(131, 131, 255);
          background-color: transparent;
          border: 1px solid rgb(158, 158, 255);
        }
        &.delete {
          color: rgb(250, 67, 104);
          background-color: transparent;
          border: 1px solid rgb(255, 105, 135);
        }
      }
    }
  }
}
